#board {
    border:  4px solid black;
    border: 50px outset;
    width: 700px;
    height: 700px;
    margin: auto;
    position: relative;
    transform: translateY(100px);
    display: grid;
   /* grid-template-columns:repeat(7,1);
    grid-template-rows:repeat(7,1);*/
}



#snakebody {
    width: 100px;
    height: 100px;
    left:500px;
    bottom: 400px;
    background-color: blue;
    position: absolute;
    border: 50px;
    box-sizing: border-box;
    z-index: 2;
}

.egg {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
}

