#board {
    border:  4px solid black;
    border: 50px outset;
    width: 700px;
    height: 700px;
    margin: auto;
    position: relative;
    transform: translateY(100px);
    display: grid;
    background-image: url('https://wallpapers.com/images/high/snake-game-loading-screen-9po4zuz368r8u1cg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



#snakebody {
    width: 100px;
    height: 100px;
    left:500px;
    bottom: 400px;
    background-color: blue;
    position: absolute;
    border: 50px;
    box-sizing: border-box;
    z-index: 2;
}

.egg {
    width: 40px;
    height: 40px;
    
    border-radius: 20px;
    z-index: 1;
    position: absolute;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 37px;
    color: brown;
  }
  body {
    background-image: url('https://cache.desktopnexus.com/cropped-wallpapers/2016/2016165-2560x1440-[DesktopNexus.com].jpg?st=2folmGGr7xExW-E9TK3Vgw&e=1723386124');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 


  }
  h3{
    text-align: center
    ;
  }
  #myColor{
    color: rgb(232, 16, 182);
  }
  #howToPlay {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 150px;
    background-color: rgba(34, 30, 30, 0.7); 
    padding: 10px;
    border-radius: 10px;
    display: inline-block; 
    position: relative;
    width: 100%; 
    box-sizing: border-box; 
  }

.restart-button {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    color: white;
    background-color: #333; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-color: 
    rgba(34, 30, 30, 0.7); 
   
}

